@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


body {
    background-color: #fff;
    color: #131316;
    font-family: 'Lexend', sans-serif;
    padding: 0; 
    margin:0;
    /*margin: 10px;*/
}



/*HEADER---------------------*/

#fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*background-color: darkolivegreen;*/
    background-color:goldenrod;
    /*background-color: teal;*/
    color: black;
    padding: 10px 0;
    text-align: center;
    z-index: 1000; /* Ensure the header is above other content */
    transition: padding 0.3s ease, font-size 0.3s ease;
    display: flex; /* Add this to enable flex layout */
    align-items: center; /* Center content vertically */
    justify-content: space-between; /* Space out the elements inside */


}

#fixed-header.smaller {
    padding: 5px 0; /* Adjust padding for smaller size */
    font-size: 0.9em; /* Adjust font size if needed */
}


.header-logo {
    display: flex;
    justify-content: left;
    align-items: center; /* Center logo vertically */
    height: 50px;
    width: 50px;
    margin-left: 40px;
    margin-top:10px;
}

nav {
    height: 100%;
    display: flex;
    align-items: center; /* Center the nav items vertically */
    justify-content: flex-end; /* Ensure nav items stay on the right */
    margin-right: 30px; /* Optional: Adjust spacing from the right edge */
    margin-top:10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: right;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background 0.3s;
}

nav ul li a:hover {
    background: rgba(255, 255, 255, 0.2);
}

.nav-toggle {
    display: none; /* Hidden by default */
}



/*HERO----------------------------------------*/

.hero-container {
    background-image: url(./Exampleimages/YIOA-HERO-IMAGE.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*border: 1px solid black;*/
}

.hero-info {
    flex-direction: column;
    margin-left:auto;
    margin-right: 10vw;
    background-color: rgba(255, 255, 255, 0.8);
    padding:2rem;
    border-radius:70px;
    /*border:1 px solid black;*/
}

.hero-info h1 {
    margin-bottom:0em;
}

.hero-yioa { 
    height:140px;
    width:400px;
}




.fancy-container {
    display: inline-block;
}

.fancy-text {
    font-size:20px;
    border-right:5px solid;
    width:100%;
    white-space:nowrap;
    overflow:hidden;
    animation:
        typing 2s steps(18),
        cursor .4s step-end infinite alternate;

}

/*cursor blinking */
@keyframes cursor {
    50% { border-color: transparent; }
}

/*typing effect */

@keyframes typing {
    from { width: 0 }
}

.highlight {
    color:#0056b3;
    /*color:goldenrod;*/
}


.hero-button {

    margin-top: 10px; /* Space above the button */
    padding: 15px 30px;
    background-color: #007bff;
    /*background-color: goldenrod;*/
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size:1.2em;
}


.hero-button:hover {
    background-color: #0056b3;

}




/*OUR MISSION------------------------------------------*/



.our-mission {
    /*border:1px solid black;*/
    display:flex;
    flex-direction: row;
    margin-top: 5px;
}

.left-empty-div {
    display:flex;
    /*border:1px solid black;*/
    width: 25vw;
    height: auto;
    background-color:goldenrod;

}

.topic {
    display:flex;
    flex-direction: column;
    padding:1rem;
    /*border:1px solid black;*/
    height:auto;
}

.mission-info {
    display:flex;
    flex-direction: column;
    /*border:1px solid black;*/
    padding:2rem;
    margin-top: 5px;
    padding-top:100px;
    width:50vw;
    height:auto;
}


.right-empty-div {
    display:flex;
    /*border:1px solid black;*/
    width: 25vw;
    height: auto;
    background-color:goldenrod;
}


.mission-statement {
    display:flex;
    flex-direction: row;
    /*border: 1px solid black;*/
    background-color: lightgray;
    height:auto;
}

.statement-container {
    display:flex;
    width:60vw;
    height: auto;
    /*border: 1px solid black;*/
    margin: 20px 0px 20px 20px;
    background: #fff;

}

.statement {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:10px;
    padding:2rem;
    /*border:1px solid black;*/
}

.mission-img-container {
    display:flex;
    flex-direction:row;
    width:40vw;
    height:auto;
    margin: 20px 20px 20px 0;
    height:auto;
    /*border: 1px solid black;*/
    background-color: #fff;
}

.mission-img {
    display:flex;
    width:100%;
    height:100%;
}


/*WHO WE ARE------------------------------------------*/

.who-we-are {
    display: flex;
    flex-direction:row;
    /*border: 1px solid black;*/
    background-color: #fff;
}

.about-us {
    color:#fff;
    display:flex;
    flex-direction: column;
    margin-left:10px;
    padding: 2rem;
    padding-top:100px;
    /*border: 1px solid black;*/
    /*height:60vh;*/
    width:40vw;
    background-color: goldenrod;
}


.about-profiles {
    display:flex;
    flex-direction:row;
    margin: 0px 10px 0px 10px;
}

.founder-profile {
    display:flex;
    flex-direction:column;
    padding: 100px 2rem 2rem 2rem;
    /*border: 1px solid black;*/
    /*height:60vh;*/
    width:25vw;
    background-color: #fff;

}

.co-founder-profile {
    display:flex;
    flex-direction:column;
    padding: 100px 2rem 2rem 2rem;
    /*border: 1px solid black;*/
    /*height:60vh;*/
    width:25vw;
    background-color: #fff;
}

.about-us, .founder-profile, .co-founder-profile {
    height:auto;
}






/*MENTORSHIP PROGRAM------------------------------------------*/

.mentorship-program {
    color:#fff;
    display:flex;
    flex-direction:column;
    align-items:center;
    height:auto;
    /*border: 1px solid black;*/
    background-color: #733635;
    padding: 2rem;
    margin: 10px;

}

.program-container {
    display:flex;
    flex-direction: column;
    /*border: 1px solid black;*/
    padding-top:100px;
    padding:2rem 2rem 0rem 2rem;
    width:70vw;

   
}

.program-container h1 {
    margin-bottom:0.2em;
    text-align: center;
}

.boxes {
    display:flex;
    flex-direction:row;
    height:100%;
    width:75vw;
    /*border:1px solid black;*/
}


.box1, .box2, .box3{
    display:flex;
    flex-direction:column;
    /*border:1px solid black;*/
    width:25vw;
    height:100%;
    text-align:center;
    padding:5px;
}

.box1 h3, .box2 h3, .box3 h3{
    margin-bottom:0em;
    color:gold;

}

/*CONTACT US------------------------------------------*/

.contact-us {
    display:flex;
    flex-direction: column;
    align-items: center;
    /*border: 1px solid black;*/
    margin:20px;
    padding:2rem;
    padding-top:100px;
}

.contact-us h1{
    align-content:center;
}

.form-container {
    display: flex;
    flex-wrap: wrap; /* Allows inputs to wrap to the next line if needed */
    gap: 10px; /* Space between form groups */
    max-width: 600px; /* Adjust as needed */
    margin: 0 auto; /* Center the form */
}

.form-group {
    flex: 1 1 45%; /* Allows input fields to take up to 45% of the container width */
    display: flex;
    flex-direction: column; /* Align label and input vertically */
}

.form-message {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center-align textarea horizontally */
    width: 100%;
    max-width: 600px; /* Adjust to match form width */
    font: "Lexend", sans-serif;


}

.form-message label {
    margin-bottom: 5px; /* Space between label and textarea */
}

.form-message textarea {
    width: 100%; /* Ensure textarea fills the container */
    height: 150px; /* Adjust height as needed */
    padding: 8px;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.form-group label {
    margin-bottom: 5px; /* Space between label and input */
}

.form-group input,select {
    font-family: 'Poppins', sans-serif;
    width: 100%; /* Ensure input fields fill the container */
    padding: 8px;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.button-container {
    display: flex;
    justify-content: center; /* Center the button horizontally */
    width: 100%;
}

.contact-button {
    margin-top: 10px; /* Space above the button */
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-button:hover {
    background-color: #0056b3;
}


/*FOOTER------------------------------------------*/

footer {
    /*background-color: darkolivegreen;*/
    background-color: goldenrod;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin: 0; /* Override body margin to remove margin from the footer */
    width:100%;
    bottom: 0;
}
footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}
footer a:hover {
    text-decoration: underline;
}


.socialicons {
    display: flex;
    justify-content: center;
    

}

/* HIDE SOCIAL MEDIA UNTIL ALL LINKS RECIEVED */
/*.socialicons {
    display: none;
}
*/

.socialicons a {
    text-decoration: none;
    background-color: #fff;
    padding:10px;
    margin: 5px;
    border-radius: 30%;
}



.fa-square-instagram {
    font-size: 40px;
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
        }
      



.fa-square-facebook {
    font-size: 40px;
    color: blue;
}

.fa-square-youtube {
    font-size: 40px;
    color: red;
}

.fa-x-twitter {
    font-size: 40px;
    color: black;
}




/*FAQ------------------------------------------*/

.frequent-questions {
    max-width: 100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    padding-top:100px;
    box-sizing: border-box; /* Ensures padding is included in the width */
    
}

.faq-item {
    width: 100%;
    max-width: 600px; /* Optional: set a max width for the questions */
    margin: 10px 0;
}

.question {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    text-align: left;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    cursor: pointer;
    box-sizing: border-box; /* Ensures padding is included in the width */

}

.question.active {
    background-color: #e9ecef;
}

.answer {
    display: none; /* Hidden by default */
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
    background-color: #fff;
    box-sizing: border-box; /* Ensures padding is included in the width */
}

/*CREDITS SECTION --------------------------------------*/

.credits {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width:100vw;
    height:100vh;
}


/*MENTORSHIP Learn More SECTION --------------------------------------*/

.mentorship-learn-more {
    max-width: 100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    padding-top:100px;
    box-sizing: border-box; /* Ensures padding is included in the width */
}


.mentorship-section {
    display:flex;
    flex-direction: column;
    align-items: center;
    /*border: 1px solid black;*/
    margin:20px;
    padding:2rem;
    padding-top:100px;
}

.mentorship-title h1{
    align-content:center;
}

.mentorship-button {
    font-family:"Lexend", sans-serif;
    margin-top: 10px; /* Space above the button */
    padding: 15px 30px;
    background-color: gold;
    /*background-color: goldenrod;*/
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size:1.2em;

}




/*MEDIA QUERIES--------------------------------------*/


/*Extra large devices (large laptops and desktops, large ipads, 1200px and up)*/

@media (min-height:1001px) {

    /*OUR MISSION SECTION*/



}












/*Medium size devices (tablets, 768px and up)*/

@media (max-width:1000px) {

    /*OUR MISSION SECTION*/
    .left-empty-div {
        display:flex;
        /*border:1px solid black;*/
        width: 15vw;
        height: auto;
    
    }

    .mission-info {
        display:flex;
        flex-direction: column;
        /*border:1px solid black;*/
        padding:2rem;
        margin-top: 5px;
        padding-top:100px;
        width:70vw;
        height:auto;
    }
    

    .right-empty-div {
        display:flex;
        /*border:1px solid black;*/
        width: 15vw;
        height: auto;
    
    }


}


@media (max-width:900px) {


    /*OUR MISSION SECTION*/

    .mission-statement {
        flex-direction: column;
        align-items:center;
        justify-content: center;
    }

    .statement-container {
        margin:20px;
        width:auto;
    }

    .mission-img-container {
        width:300px;
        height:350px;
        margin-left:20px;
    
    }



    /*WHO WE ARE SECTION*/
    .who-we-are {
        display:flex;
        flex-direction:column;
    }

    .about-us {
        width:auto;
        height:auto;
        text-align:center;
        margin:10px;
        padding:2rem;
        padding-top:100px;
        padding-bottom:100px;
    }

    .founder-profile, .co-founder-profile {
        width:45vw;
        height:auto;
    }



}



@media (max-width:850px) {

    /*OUR MISSION*/
    .our-mission {
        display:flex;
        flex-direction:column;
    }
    
    .our-mission .left-empty-div, .right-empty-div {
        display:none;
    }

    .mission-info {
        display:flex;
        flex-direction:column;
        width:auto;
        height:auto;
    } 
}

@media (max-width:650px) {

}








/*Extra small devices (phones, 600px and down)*/

@media (max-width:600px) {


    /* SCALING HERO TO A SMALLER SIZE */
    .hero-info {
        justify-content: center;
        align-items: center;
        margin:0;
        transform:scale(80%);

    }

    .fancy-container {
        transform:scale(100%);
    }

    /*SCALE DOWN MARGIN ON HEADING*/
    .header-logo {
        margin-left:20px;
    }
    nav {
        margin-right:10px;
    }

    .founder-profile, .co-founder-profile {
        width:45vw;
        height:auto;
    }

    .boxes {
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content: center;
    

    }

    .box1, .box2, .box3 {
        width:60vw;
        height:auto;
    }
    

}


@media (max-width: 768px) {


    /*NAV START*/
    nav {
        justify-content: flex-start;
    }

    nav ul {
        flex-direction: column;
        display: none; /* Hide the menu initially */
        position: absolute;
        top: 100%;
        right: 0;
        background: #333; /* Background color of the dropdown menu */
        width: 200px; /* Adjust as needed */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        padding: 10px 0;
    }

    nav ul li {
        margin: 10px 0;
    }

    .nav-toggle {
        display: block; /* Show hamburger icon */
        background: none;
        border: 2px solid #fff;
        color: #fff;
        font-size: 24px;
        cursor: pointer;
        margin-left: auto;
        
    }

    /* Show the menu when the nav-menu class has the "active" class */
    .nav-menu.active ul {
        display: flex;
    }


    /*NAV FINISHED*/




}


@media (max-width:400px) {

    .hero-info {
        transform: scale(70%);
    }

    .founder-profile, .co-founder-profile {
        width:33vw;
        height:auto;
        /*border: 1px solid black;*/
    
    }
}